AGNET_HTTP_ADDR=0.0.0.0:19180
AGNET_FFMPEG_PATH=/usr/bin/ffmpeg
AGNET_AGENT_KEY_FILE=/opt/live/agnet/data/agent_key
AGNET_AUDIO_CACHE_DIR=/opt/live/agnet/data/cache/audio
AGNET_AUDIO_CACHE_TTL=168h
AGNET_AUDIO_TCP_HOST=127.0.0.1
AGNET_INFO_LOCAL_ONLY=true
